/* 
Theme Name: Peacetrap
Description: Full Bootstrap
Version: 0.1 
Author: Ghom
*/

main .container {
    display: flex;
    flex-direction: column;
}

.sidebar-bottom {
    display: flex;
    justify-content: space-around;
}